.consultation {
  min-height: 600px;
  padding: 60px 0;
  background: url('../img/consultation-bg.jpg') center (center/cover) no-repeat;
  border-radius: 20px;
  margin: 20px;
  &__deskr {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }
  .error {
    border: 2px solid red;
  }
  label.error {
    color: #ffffff;
    border: none;
    font-size: 14px;
    margin-bottom: 25px;
  }
  input.error {
    margin-bottom: 7px;
  }
}
