.consultation {
  min-height: 600px;
  padding: 60px 0;
  background: url('../img/consultation-bg.jpg') center (center/cover) no-repeat;
  border-radius: 20px;
  margin: 20px;
  &__deskr {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }
}
