.reviews {
  padding-bottom: 48px;

  &__item {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__wrap-right {
    margin-left: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
  }
  &__descr {
    margin-top: 10px;
    max-width: 680px;
    font-weight: 300;
    font-size: 16px;
    color: #0d0d0d;
  }
  &__descr-mob {
    display: none;
  }
}
