// медиа запросы для системной темы (надо настроить)

// @media (prefers-color-scheme: dark) {
//   html {
//     background-color: #333;
//     color: #fff;
//   }
// }

// @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
//   html {
//     background-color: #f6f6f6;
//     color: #000;
//   }
// }

@media (min-width: 1200px) {
  .promo {
    background-position-x: 25%;
    &__item img {
      width: 60px;
    }
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 850px;
  }
  .promo {
    background-position-x: 25%;
    &__item img {
      width: 60px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }

  .advantages {
    &__item {
      max-width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 515px;
  }
  .header {
    &__official {
      display: none;
    }
  }
  .promo {
    min-height: 500px;
    padding: 15px 0 40px 0;
    background-image: linear-gradient(30deg, #491111 0%, #323335 100%);
    border-radius: 20px;
    margin: 10px;
    &__wrapper {
      align-items: center;
      margin-top: 60px;
    }
    &__header {
      font-size: 38px;
      text-align: center;
    }
    &__subheader {
      font-size: 20px;
      text-align: center;
    }
  }
  .title {
    font-size: 26px;
  }
  .advantages {
    padding: 60px 0 10px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__header {
      margin-top: 20px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 95%;
  }
  .header__contacts {
    .header__phone {
      font-size: 16px;
    }
    button {
      width: 140px;
      margin-top: 5px;
    }
  }
  .promo {
    min-height: 500px;
    padding: 15px 0 40px 0;

    &__wrapper {
      align-items: center;
      margin-top: 50px;
    }
    &__header {
      font-size: 24px;
    }
    &__subheader {
      font-size: 13px;
    }
    &__icons {
      width: 100%;
      justify-content: space-around;
    }
    &__item {
      justify-content: flex-end;
      font-size: 12px;
      width: 100px;
      img {
        width: 40px;
      }
    }
    .button_main {
      width: 270px;
      font-size: 14px;
      margin-top: 50px;
    }
  }
  .title {
    font-size: 20px;
  }
  .advantages {
    padding: 60px 0 10px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__header {
      margin-top: 20px;
    }
  }
}
