// медиа запросы для системной темы (надо настроить)

// @media (prefers-color-scheme: dark) {
//   html {
//     background-color: #333;
//     color: #fff;
//   }
// }

// @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
//   html {
//     background-color: #f6f6f6;
//     color: #000;
//   }
// }

@media (min-width: 1200px) {
  .promo {
    background-position-x: 25%;
    margin: 20px 60px;
    &__item img {
      width: 60px;
    }
  }
  .consultation {
    margin: 20px 60px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 850px;
  }
  .promo {
    background-position-x: 25%;
    &__item img {
      width: 60px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 680px;
  }

  .advantages {
    &__item {
      max-width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 515px;
  }
  .header {
    &__official {
      display: none;
    }
  }
  .promo {
    min-height: 500px;
    padding: 15px 0 40px 0;
    border-radius: 20px;
    &__wrapper {
      align-items: center;
      margin-top: 60px;
    }
    &__header {
      font-size: 38px;
      text-align: center;
    }
    &__subheader {
      font-size: 20px;
      text-align: center;
    }
  }
  .title {
    font-size: 26px;
    &_left {
      line-height: 36px;
      text-align: center;
    }
  }
  .advantages {
    padding: 60px 0 10px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__header {
      margin-top: 20px;
    }
  }
  .consultation {
    background: linear-gradient(
        45deg,
        rgba(254, 246, 210, 0.53) 0%,
        rgba(254, 246, 210, 0.53) 14.286%,
        rgba(221, 240, 216, 0.53) 14.286%,
        rgba(221, 240, 216, 0.53) 28.572%,
        rgba(188, 233, 223, 0.53) 28.572%,
        rgba(188, 233, 223, 0.53) 42.858%,
        rgba(156, 227, 229, 0.53) 42.858%,
        rgba(156, 227, 229, 0.53) 57.144%,
        rgba(123, 220, 235, 0.53) 57.144%,
        rgba(123, 220, 235, 0.53) 71.42999999999999%,
        rgba(90, 214, 242, 0.53) 71.43%,
        rgba(90, 214, 242, 0.53) 85.71600000000001%,
        rgba(57, 207, 248, 0.53) 85.716%,
        rgba(57, 207, 248, 0.53) 100.002%
      ),
      linear-gradient(
        135deg,
        rgb(246, 99, 200) 0%,
        rgb(246, 99, 200) 12.5%,
        rgb(223, 98, 196) 12.5%,
        rgb(223, 98, 196) 25%,
        rgb(199, 97, 192) 25%,
        rgb(199, 97, 192) 37.5%,
        rgb(176, 96, 188) 37.5%,
        rgb(176, 96, 188) 50%,
        rgb(152, 95, 184) 50%,
        rgb(152, 95, 184) 62.5%,
        rgb(129, 94, 180) 62.5%,
        rgb(129, 94, 180) 75%,
        rgb(105, 93, 176) 75%,
        rgb(105, 93, 176) 87.5%,
        rgb(82, 92, 172) 87.5%,
        rgb(82, 92, 172) 100%
      );
    min-height: 500px;
    padding: 50px 0;
    &__deskr {
      text-align: center;
      font-weight: 300;
      font-size: 16px;
    }
  }
  .feed-form {
    margin: 0 auto;
    margin-top: 36px;
    max-width: 350px;
    input:focus {
      font-size: 16px;
    }
  }
  .carousel {
    .prev,
    .next {
      display: none;
    }
    .carousel__inner img {
      width: 95%;
    }
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 95%;
  }
  .header__contacts {
    margin-right: 8px;
    .header__phone {
      font-size: 16px;
    }
    button {
      width: 140px;
      margin-top: 5px;
    }
  }
  .promo {
    min-height: 500px;
    padding: 15px 0 40px 0;
    margin: 10px;
    &__wrapper {
      align-items: center;
      margin-top: 50px;
    }
    &__header {
      font-size: 24px;
    }
    &__subheader {
      font-size: 13px;
    }
    &__icons {
      width: 100%;
      justify-content: space-around;
    }
    &__item {
      justify-content: flex-end;
      font-size: 12px;
      width: 100px;
      img {
        width: 40px;
      }
    }
    .button_main {
      width: 250px;
      font-size: 14px;
      margin-top: 50px;
    }
  }
  .title {
    font-size: 20px;
    &_left {
      line-height: 30px;
    }
  }
  .advantages {
    padding: 60px 0 10px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__header {
      margin-top: 20px;
    }
  }
  .consultation {
    padding: 40px 0;
    margin: 10px;
    &__deskr {
      font-size: 14px;
    }
  }
}

@media (max-width: 440px) {
  .feed-form {
    max-width: 270px;
  }
}
